/* 
    btn-primary--[modifier]
    btn-secondary--[modifer]
    btn-caution--[modifer]
    btn-danger--[modifer]
    btn-dark--[modifer]
    btn-light--[modifer]

    [modifier=text|outlined|contained]
*/

button[class*="btn"] {
    display: flex;
    flex-direction: row;
    padding: 10px 8px;

    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[class*="btn"]:focus {
    outline: none;
}

button:not([class*="--text"]) {
    padding: 10px 18px;
}

/* --- Style primary btn --- */
button[class*="btn-primary"],
button.btn-primary--contained {
    background-color: var(--clr-primary--r);
    color: var(--clr-light--r);
}
button.btn-primary--text,
button.btn-primary--outlined {
    color: var(--clr-primary--r);
}

/* --- Style secondary btn --- */
button[class*="btn-secondary"],
button.btn-secondary--contained {
    background-color: var(--clr-secondary--r);
    color: var(--clr-dark--r);
}
button.btn-secondary--text,
button.btn-secondary--outlined {
    color: var(--clr-secondary--r);
}

/* --- Style caution btn --- */
button[class*="btn-caution"],
button.btn-caution--contained {
    background-color: var(--clr-caution--r);
    color: var(--clr-dark--r);
}
button.btn-caution--text,
button.btn-caution--outlined {
    color: var(--clr-caution--r);
}

/* --- Style danger btn --- */
button[class*="btn-danger"],
button.btn-danger--contained {
    background-color: var(--clr-danger--r);
    color: var(--clr-light--r);
}
button.btn-danger--text,
button.btn-danger--outlined {
    color: var(--clr-danger--r);
}

/* --- Style dark btn --- */
button[class*="btn-dark"],
button.btn-dark--contained {
    background-color: var(--clr-dark--r);
    color: var(--clr-light--r);
}
button.btn-dark--text,
button.btn-dark--outlined {
    color: var(--clr-dark--r);
}

/* --- Style light btn --- */
button[class*="btn-light"],
button.btn-light--contained {
    background-color: var(--clr-light--r);
    color: var(--clr-dark--r);
}
button.btn-light--text,
button.btn-light--outlined {
    color: var(--clr-light--r);
}


/* --- Comomon --- */
button[class*="--text"] {
    border: none;
    background-color: transparent;
}
button[class*="--outlined"] {
    border: 1px solid var(--clr-background--t);
    background-color: transparent;
}


@media (hover: hover) {
    button[class*='btn']:hover {
        background-color: var(--clr-background--l);
        outline: none;
    }

    /* --- Hover primary -- */
    button[class*="btn-primary"]:hover {
        background-color: var(--clr-primary--l);
    }
    button.btn-primary--text:hover,
    button.btn-primary--outlined:hover {
        background-color: var(--clr-primary--t);
    }

    /* --- Hover secondary --- */
    button[class*="btn-secondary"]:hover {
        background-color: var(--clr-secondary--l);
    }
    button.btn-secondary--text:hover,
    button.btn-secondary--outlined:hover {
        background-color: var(--clr-secondary--t);
    }

    /* --- Hover caution --- */
    button[class*="btn-caution"]:hover {
        background-color: var(--clr-caution--l);
    }
    button.btn-caution--text:hover,
    button.btn-caution--outlined:hover {
        background-color: var(--clr-caution--t);
    }

    /* --- Hover danger --- */
    button[class*="btn-danger"]:hover {
        background-color: var(--clr-danger--l);
    }
    button.btn-danger--text:hover,
    button.btn-danger--outlined:hover {
        background-color: var(--clr-danger--t);
    }

    /* --- Hover dark --- */
    button[class*="btn-dark"]:hover {
        background-color: var(--clr-dark--l);
    }
    button.btn-dark--text:hover,
    button.btn-dark--outlined:hover {
        background-color: var(--clr-dark--t);
    }

    /* --- Hover light --- */
    button[class*="btn-light"]:hover {
        background-color: var(--clr-light--l);
    }
    button.btn-light--text:hover,
    button.btn-light--outlined:hover {
        background-color: var(--clr-light--t);
    }
}
button[class*="btn"]:active {
    background-color: var(--clr-background--l);
    outline: none;
}

/* --- Hover primary -- */
button[class*="btn-primary"]:active {
    background-color: var(--clr-primary--l);
}
button.btn-primary--text:active,
button.btn-primary--outlined:active {
    background-color: var(--clr-primary--t);
}

/* --- Hover secondary --- */
button[class*="btn-secondary"]:active {
    background-color: var(--clr-secondary--l);
}
button.btn-secondary--text:active,
button.btn-secondary--outlined:active {
    background-color: var(--clr-secondary--t);
}

/* --- Hover caution --- */
button[class*="btn-caution"]:hover {
    background-color: var(--clr-caution--l);
}
button.btn-caution--text:active,
button.btn-caution--outlined:active {
    background-color: var(--clr-caution--t);
}

/* --- Hover danger --- */
button[class*="btn-danger"]:active {
    background-color: var(--clr-danger--l);
}
button.btn-danger--text:active,
button.btn-danger--outlined:active {
    background-color: var(--clr-danger--t);
}

/* --- Hover dark --- */
button[class*="btn-dark"]:active {
    background-color: var(--clr-dark--l);
}
button.btn-dark--text:active,
button.btn-dark--outlined:active {
    background-color: var(--clr-dark--t);
}

/* --- Hover light --- */
button[class*="btn-light"]:active {
    background-color: var(--clr-light--l);
}
button.btn-light--text:active,
button.btn-light--outlined:active {
    background-color: var(--clr-light--t);
}